In [106]:
from mailchimp3 import MailChimp
import numpy as np
import pandas as pd
import boto3
import os, json
import pyodbc
import warnings
warnings.filterwarnings("ignore")
import datetime
import holidays

date_format = '%d/%m/%Y %H:%M:%S'

In [124]:
cl_holidays = holidays.country_holidays('CL', years=[])
cl_holidays

{datetime.date(2024, 1, 1): "Año Nuevo [New Year's Day]", datetime.date(2024, 3, 29): 'Semana Santa (Viernes Santo) [Good Friday)]', datetime.date(2024, 3, 30): 'Semana Santa (Sábado Santo) [Good Saturday)]', datetime.date(2024, 5, 1): 'Día Nacional del Trabajo [Labour Day]', datetime.date(2024, 5, 21): 'Día de las Glorias Navales [Navy Day]', datetime.date(2024, 6, 20): 'Día Nacional de los Pueblos Indígenas [National Day of Indigenous Peoples]', datetime.date(2024, 6, 29): 'San Pedro y San Pablo [Saint Peter and Saint Paul]', datetime.date(2024, 7, 16): 'Virgen del Carmen [Our Lady of Mount Carmel]', datetime.date(2024, 8, 15): 'Asunción de la Virgen [Assumption of Mary]', datetime.date(2024, 9, 18): 'Día de la Independencia [Independence Day]', datetime.date(2024, 9, 19): 'Día de las Glorias del Ejército [Army Day]', datetime.date(2024, 9, 20): 'Fiestas Patrias [Holiday]', datetime.date(2024, 10, 12): "Día del Descubrimiento de dos Mundos [Discovery of Two Worlds' Day]", datetime.date(2024, 10, 31): 'Día Nacional de las Iglesias Evangélicas y Protestantes [Reformation Day]', datetime.date(2024, 11, 1): 'Día de Todos los Santos [All Saints Day]', datetime.date(2024, 12, 8): 'La Inmaculada Concepción [Immaculate Conception]', datetime.date(2024, 12, 25): 'Navidad [Christmas]', datetime.date(2023, 1, 1): "Año Nuevo [New Year's Day]", datetime.date(2023, 1, 2): 'Fiestas Patrias [Holiday]', datetime.date(2023, 4, 7): 'Semana Santa (Viernes Santo) [Good Friday)]', datetime.date(2023, 4, 8): 'Semana Santa (Sábado Santo) [Good Saturday)]', datetime.date(2023, 5, 1): 'Día Nacional del Trabajo [Labour Day]', datetime.date(2023, 5, 21): 'Día de las Glorias Navales [Navy Day]', datetime.date(2023, 6, 21): 'Día Nacional de los Pueblos Indígenas [National Day of Indigenous Peoples]', datetime.date(2023, 6, 26): 'San Pedro y San Pablo [Saint Peter and Saint Paul]', datetime.date(2023, 7, 16): 'Virgen del Carmen [Our Lady of Mount Carmel]', datetime.date(2023, 8, 15): 'Asunción de la Virgen [Assumption of Mary]', datetime.date(2023, 9, 18): 'Día de la Independencia [Independence Day]', datetime.date(2023, 9, 19): 'Día de las Glorias del Ejército [Army Day]', datetime.date(2023, 10, 9): "Día del Descubrimiento de dos Mundos [Discovery of Two Worlds' Day]", datetime.date(2023, 10, 27): 'Día Nacional de las Iglesias Evangélicas y Protestantes [Reformation Day]', datetime.date(2023, 11, 1): 'Día de Todos los Santos [All Saints Day]', datetime.date(2023, 12, 8): 'La Inmaculada Concepción [Immaculate Conception]', datetime.date(2023, 12, 25): 'Navidad [Christmas]'}

In [ ]:
holiday_dates = []
for date, occasion in cl_holidays.items():
    holiday_dates.append(date, occasion)

In [108]:
def aws_dynamo_service(aws_access_key_id, aws_secret_access_key, region_name):
    try:
        #Realizando conexion con AWS DynamoDB
        conn = boto3.resource("dynamodb", 
            region_name=region_name,
            aws_access_key_id=aws_access_key_id,
            aws_secret_access_key=aws_secret_access_key)
        
        client = boto3.client("dynamodb", 
            region_name=region_name,
            aws_access_key_id=aws_access_key_id,
            aws_secret_access_key=aws_secret_access_key)
        
    except Exception as e:
        print("[INFO] No fue posible conectarse a la DB")    
        f = open("videofinder_log.txt", "a")
        f.write(f'{str(e)}\n')
        f.close()
    return conn, client

#Lectura de base de datos registros_evaluacion
def scan_dynamodb_table(table_name, client):
    print(f'[INFO] //////////// LECTURA TABLA {table_name} DESDE DYNAMODB ////////////')
    try:
        #Codigo para escanear tabla registros evaluacion desde dynamodb solo para registros no procesados por RPA
        response = client.scan(
            TableName=table_name)
        #Convertir el resultado de dynamoDB a DataFrame
        reg_ = pd.json_normalize(response["Items"])
        #Rename columns droping the dynamo json type (Ex. .S for String)
        for column in reg_.columns.to_list():
            reg_.rename(columns={column:column[:-2]}, inplace=True)
        #print("[INFO] Mostrando 5 primeros registros de evaluacion de la base cargada")
        #print(self.reg_.head())
        print(f'[INFO] //////////// LECTURA TABLA {table_name} CORRECTA ////////////')
    except Exception as e:
        print("[INFO] No fue posible leer la base registros evaluacion desde DynamoDB")    
        f = open("admissions_adaptation_schedulling.txt", "a")
        f.write(f'{str(e)}\n')
        f.close()
    return reg_

#Fecha actual
def get_date():
    #Definiendo variable con fecha de proceso
    current_time = datetime.datetime.now()
    date = current_time.date()
    Y = current_time.year
    M = current_time.month
    d = current_time.day
    h = current_time.hour
    m = current_time.minute
    s = current_time.second
    mailchimp_format_date = f"{Y}{M}{d}"

    return date

In [109]:
#dynamodb
AWS_ACCESS_KEY_ID = "AKIAQRW6JXYJBL7IYU4P"
AWS_SECRET_ACCESS_KEY = "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"
REGION = "us-east-1"
SERVICE_NAME="s3"

#sql server
server = '10.10.5.49,1433' 
database = 'master' 
username = 'qv_consulta' 
password = 'QlikView2009'

In [110]:
#sql server
cnxn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+password)
cursor = cnxn.cursor()
#dynamodb
dynamodb_resource, dynamodb_client = aws_dynamo_service(AWS_ACCESS_KEY_ID, AWS_SECRET_ACCESS_KEY, REGION)

In [137]:
columns = [
    'child_service_id',
    'child_name',
    'child_financial_guardian_email',
    'child_educational_guardian_email',
    'child_adaptation_scheduling_dt'
]
# Lectura de base de datos adaptacion desde dynamodb.
educational_center_admissions = scan_dynamodb_table('educational_center_admissions', dynamodb_client)
# Filtrar columnas
educational_center_admissions = educational_center_admissions[columns]
# Filtro para quedarnos solo con adaptaciones agendadas.
educational_center_admissions = educational_center_admissions[educational_center_admissions['child_adaptation_scheduling_dt']!=""]
# Creacion de columnas de interes
educational_center_admissions['child_adaptation_scheduling_dt'] = pd.to_datetime(educational_center_admissions['child_adaptation_scheduling_dt'], format=date_format) 
educational_center_admissions['date'] = [x.date() for x in educational_center_admissions.child_adaptation_scheduling_dt]
educational_center_admissions['current_date'] = get_date()
educational_center_admissions['days_difference'] = educational_center_admissions['date'] - educational_center_admissions['current_date']
educational_center_admissions['days_difference'] = [x.days for x in educational_center_admissions['days_difference']]
educational_center_admissions['working_days_difference'] = [np.busday_count(educational_center_admissions['current_date'].iloc[x], educational_center_admissions['date'].iloc[x]) for x in range(educational_center_admissions.shape[0])] 
educational_center_admissions['child_service_id'] = educational_center_admissions['child_service_id'].astype(int)
educational_center_admissions['TAG'] = [str(educational_center_admissions['child_service_id'].iloc[x]) + "-" + str(educational_center_admissions['current_date'].iloc[x]) for x in range(educational_center_admissions.shape[0])]
educational_center_admissions['Tipo'] = 
educational_center_admissions.head()

[INFO] //////////// LECTURA TABLA educational_center_admissions DESDE DYNAMODB ////////////
[INFO] //////////// LECTURA TABLA educational_center_admissions CORRECTA ////////////

,child_service_id,child_name,child_financial_guardian_email,child_educational_guardian_email,child_adaptation_scheduling_dt,date,current_date,days_difference,working_days_difference,TAG
0,189686,HELENA MUÑOZ JELDRES,daisy.jeldres@mail.udp.cl,daisy.jeldres@mail.udp.cl,2023-01-29 09:00:00,2023-01-29,2023-02-06,-8,-5,189686-2023-02-06
17,192374,LUCAS ALONSO APABLAZA PINILLA,pinillanataly@gmail.com,pinillanataly@gmail.com,2023-02-07 08:30:00,2023-02-07,2023-02-06,1,1,192374-2023-02-06
18,189029,BENJAMIN LAGOS SOTO,francisca.asq@gmail.com,francisca.asq@gmail.com,2023-02-06 08:30:00,2023-02-06,2023-02-06,0,0,189029-2023-02-06
33,188260,ALAN DANIEL HERNANDEZ CUEVAS,cuevasvalenzuelanicol@gmail.com,cuevasvalenzuelanicol@gmail.com,2023-02-08 08:45:00,2023-02-08,2023-02-06,2,2,188260-2023-02-06
83,190024,EMMA CONTRERAS GUTIERREZ,loreto.delpilar.gutierrez@gmail.com,loreto.delpilar.gutierrez@gmail.com,2023-02-15 12:00:00,2023-02-15,2023-02-06,9,7,190024-2023-02-06

In [134]:
np.busday_count(educational_center_admissions['date'].iloc[0], educational_center_admissions['current_date'].iloc[0], holidays=holiday_dates)

5

In [84]:
# Lectura de base SQL Server con tags
query = """
SELECT 
	EA.Id_Nino_Centro child_service_id,
	EA.[Email],EA.[TAG],
	TE.[TPENC_NOMBRE] Tipo
  FROM [ODS].[dbo].[VW_ODS_Base_Apoderados_Encuesta_Adaptacion_Vigente] EA
  INNER JOIN [ODS].[dbo].[INTEGRACIONES_ZAPIER_ENC_DT_TIPO_ENCUESTA] TE ON TE.ID_TIPO_ENCUESTA = 13;
"""

tags = pd.read_sql_query(query, cnxn)
tags.head()

,child_service_id,Email,TAG,Tipo
0,189840,ubillaortega76@hotmail.com,01a4f8c3b133b5939d93b3f5470ba861,ENADAP
1,190124,nad.valenzuela@gmail.com,05ce1f6eed7791a26357a1b8d1868dea,ENADAP
2,191970,danycorreaf@gmail.com,071aacf6c2d70da0dde164d954428953,ENADAP
3,190168,caceresxiomara@gmail.com,08b73e71b2f5dffd34314a46d42b9702,ENADAP
4,189970,r.lucianoflorian@gmail.com,0a63818bea5841ecbf47dc57be7ecd73,ENADAP

In [85]:
audience = educational_center_admissions.merge(tags, how='left', on='child_service_id')
audience

,child_service_id,child_name,child_financial_guardian_email,child_educational_guardian_email,child_adaptation_scheduling_dt,date,current_date,days_difference,Email,TAG,Tipo
0,189686,HELENA MUÑOZ JELDRES,daisy.jeldres@mail.udp.cl,daisy.jeldres@mail.udp.cl,2023-01-29 09:00:00,2023-01-29,2023-02-03,-5,NaN,NaN,NaN
1,189029,BENJAMIN LAGOS SOTO,francisca.asq@gmail.com,francisca.asq@gmail.com,2023-02-06 08:30:00,2023-02-06,2023-02-03,3,NaN,NaN,NaN
2,189976,HUGO DOMINGUEZ SILVA,msilva01@udd.cl,msilva01@udd.cl,2023-02-12 08:30:00,2023-02-12,2023-02-03,9,NaN,NaN,NaN

In [86]:
TRIGGER_THRESHOLD_DAYS = -5
columns = [
    'child_educational_guardian_email',
    'TAG',
    'Tipo'
]
audience['send_email_flag'] = np.where(educational_center_admissions['days_difference']==TRIGGER_THRESHOLD_DAYS, 'Enviar', 'No enviar')
audience = audience[audience['send_email_flag']=='Enviar']
audience = audience[columns]
audience

  child_educational_guardian_email  TAG Tipo
0        daisy.jeldres@mail.udp.cl  NaN  NaN

In [91]:
mailchimp_templates = scan_dynamodb_table('mailchimp_config_template', dynamodb_client)
selected_template = mailchimp_templates[mailchimp_templates['campaing_email_code']=='ENADAP']
selected_template

[INFO] //////////// LECTURA TABLA mailchimp_config_template DESDE DYNAMODB ////////////
[INFO] //////////// LECTURA TABLA mailchimp_config_template CORRECTA ////////////

,email_from_name,email_subject,automation_send_email_flag,email_reply_to,campaing_email_code,mailchimp_html_template_code
0,Vitamina,¿Cuéntanos cómo fueron tus primeros días en Vi...,Manual,experiencia@vitamina.cl,ENADAP,10000034

In [ ]:


email_template = selected_template['mailchimp_html_template_code'].iloc[0]
email_from_name = str(selected_template['email_from_name'].iloc[0])
email_reply_to = str(selected_template['email_reply_to'].iloc[0])
email_subject = str(selected_template['email_subject'].iloc[0])
email_send_flag = str(selected_template['automation_send_email_flag'].iloc[0])

email_campaign_name = f"Vitamina | Encuesta Adaptación | {str(mailchimp_date)} | Powered by Mailchimp-Automation"